*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: rgba(157, 219, 64, 0.8); */
    /* background-color: #fff; */
}
.color{
   background-color: rgba(112, 178, 13, 0.8);
   
}
.main-container{
     display: flex;
    flex-direction: column; 
    height: 100vh;
    width: 100%;
    max-width: 900px;
    margin: auto;
    height: 95vh;
    width: 80%;
    /* justify-content: center; */
    align-items: center;
    border: 2px solid black;
border-radius: 10px;
margin-top: 20px;
gap: 30px;
padding: 10px;
 background: rgba(157, 219, 64, 0.8); 
overflow: hidden;
}
.blc{
    display: flex;
    flex-direction: column;
    margin-right: 70%;
    gap: 6px;
    

}
.blc h2{
    font-size: 1.5rem;
}
.blc p{
    font-size: 1rem;
    /* font-weight: bolder; */
}
.input-section{
    display: flex;
    flex-direction: column;
max-width: 400px;
margin: auto;
/* border: 2px solid black; */
height: 40vh;
width: 40%;
gap: 20px;
 padding: 8px 10px;
 /* border-radius: 5px; */
}

div{
    display: flex;
    flex-direction: column;
    /* padding: 8px 10px; */
}
.input-section button{
  padding: 8px 15px;
  width: 90%;
  border: 2px solid black;
  border-radius: 10px;
  background-color: black;
  color: whitesmoke;
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 20px;
  margin-left: 10px;
}
button:hover{
    background-color: white;
  color: black;
}
label{
    font-size: 1rem;
    font-weight: bolder;
}
input{
    padding: 8px 15px;
    width: 90%;
    border-radius: 5px;
}